<launch>
  <!-- This launchfile should bring up a node that broadcasts two ros image
       transport on /IR/camera/image_raw and /EO/camera/image_raw-->

  <arg name="DEVICE" default="IR_camera"/>
  <arg name="PUBLISH_FRAME" default="false"/>
  <arg name="RTP_PORT_cam1" default="5000"/>
  <arg name="RTP_PORT_cam2" default="5001"/>
  <arg name="USE_H265_cam1" default="false"/>
  <arg name="USE_H265_cam2" default="true"/>

  <param name="IR_width" value="640"/>
  <param name="IR_height" value="514"/>
  <param name="IR_framerate" value="60/1"/>
  <param name="IR_IP_address" value="10.42.0.1"/>
  <param name="IR_UDP_port" value="$(arg RTP_PORT_cam1)"/>
  <param name="IR_encoder_tune" value="3"/>
  <param name="IR_encoder_bitrate" value="10000"/>
  <param name="IR_encoder_speed-preset" value="ultrafast"/>

  <param name="EO_width" value="1920	"/>
  <param name="EO_height" value="1080"/>
  <param name="EO_framerate" value="30/1"/>
  <param name="EO_IP_address" value="10.42.0.1"/>
  <param name="EO_UDP_port" value="$(arg RTP_PORT_cam2)"/>

  <param name="username" value="xxxx"/>
  <param name="qualcomm_ip" value="xxxx"/>

  <node ns="IR" name="RTP_to_ros_1" pkg="gscam" type="gscam" output="screen">
    <param name="camera_name" value="cam1"/>
    <param name="camera_info_url" value="package://gscam/examples/uncalibrated_parameters_cam1.ini"/>
    <param name="frame_id" value="/RTP_frame"/>
    <param name="sync_sink" value="false"/>
    <param name="use_h265" value="$(arg USE_H265_cam1)"/> <!--Select between h264 decoder (False) or h265 decoder (True) -->
    <param name="RTP_port" value="$(arg RTP_PORT_cam1)"/> <!--Select RTP port -->
  </node>

  <node ns="EO" name="RTP_to_ros_2" pkg="gscam" type="gscam" output="screen">
    <param name="camera_name" value="cam2"/>
    <param name="camera_info_url" value="package://gscam/examples/uncalibrated_parameters_cam2.ini"/>
    <param name="frame_id" value="/RTP_frame"/>
    <param name="sync_sink" value="false"/>
    <param name="use_h265" value="$(arg USE_H265_cam2)"/> <!--Select between h264 decoder (False) or h265 decoder (True) -->
    <param name="RTP_port" value="$(arg RTP_PORT_cam2)"/> <!--Select RTP port -->
  </node>

  <!-- Node for running remote commands -->
  <node pkg="remote_cmd_executor" type="execute_remote_cmd.py" name="remote_cmd_executor" output="screen"/>

  <node if="$(arg PUBLISH_FRAME)" name="v4l_transform" pkg="tf" type="static_transform_publisher" args="1 2 3 0 -3.141 0 /world /v4l_frame 10"/>
</launch>
